%header
  .header-content
    =image_tag('logo quantco.png', size: "500x350")
    .header-content-inner
      %h1#homeHeading Ferramentas Estratégicas para Investidores Profissionais
      %hr
      %a.btn.btn-primary.btn-xl.page-scroll{href: "#{pairs_path}"} Long & Short por Cointegração
      %a.btn.btn-primary.btn-xl.page-scroll{href: "#{gaarch_index_path}"} Estimativa Diária de Volatilidade - Modelo GAARCH