@import "bootstrap";
@import "static_pages";
@import "creative.min";
@import "font-awesome.min";
@import "magnific-popup";

.main-content {
  padding: 50px 50px ;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.icon-table {
  width: 24px;
  height: 24px;
}

new_user{
  padding-left:50px;
}

